<div class="row">
    <div class="col-md-6">
        <figure class="tm-description-figure">
            <img src="{{ selectedCharacter.image }}" alt="Image" class="img-fluid" />
        </figure>
    </div>
    <div class="col-md-6">
        <div class="tm-description-box"> 
            <h4 class="tm-gallery-title">{{ selectedCharacter.name }} - {{selectedCharacter.species}} - {{ selectedCharacter.gender }}</h4>
            <p class="tm-mb-45">

               He is from {{selectedCharacter.origin.name}} and his status is {{selectedCharacter.status}}
            </p>
        </div>
    </div>
</div>
